
/*Screens < 600px*/

  @media screen and (max-width:600px) {

    * {
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        font-family: "Lato", sans-serif;
        font-size: 14px;
    }
    
    body{
        font-size: 1.2rem;
    }
    
    h1,h2,h3{
        @font-face {
            font-family: "Montserrat", sans-serif;
            src: url("/assets/fonts/Montserrat-Bold.tff");
        }
    }
    
    h1{
        font-size: 4rem;
    }
    
    h2{
        font-size: 2.2rem;
    }
    
    p{
        width: 70ch;
        line-height: 1.5;
    }
    
    .header{
        background-image: url(/assets/img/studentsbg.png);
        height: 55vh;
        position: fixed;
    
    }
    div.header{
        background-color: #c5192d;
    }
  }


  /*Screens 600px –960 px*/
  @media screen and (min-width:600px) and (max-width:960px) {

  
    * {
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        font-family: "Lato", sans-serif;
        font-size: 16px;
    }
    
    body{
        font-size: 1.2rem;
    }
    
    h1,h2,h3{
        @font-face {
            font-family: "Montserrat", sans-serif;
            src: url("/assets/fonts/Montserrat-Bold.tff");
        }
    }
    
    h1{
        font-size: 4rem;
    }
    
    h2{
        font-size: 2.2rem;
    }
    
    p{
        width: 70ch;
        line-height: 1.5;
    }
    
    .header{
        background-image: url(/assets/img/studentsbg.png);
        height: 65vh;
        position: fixed;
    
    }
    div.header{
        background-color: #c5192d;
    }    
  }



  /*Screens >960 px*/
  @media screen and (max-width:960px) {

    * {
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        font-family: "Lato", sans-serif;
        font-size: 24px;
    }
    
    body{
        font-size: 1.2rem;
    }
    
    h1,h2,h3{
        @font-face {
            font-family: "Montserrat", sans-serif;
            src: url("/assets/fonts/Montserrat-Bold.tff");
        }
    }
    
    h1{
        font-size: 4rem;
    }
    
    h2{
        font-size: 2.2rem;
    }
    
    p{
        width: 70ch;
        line-height: 1.5;
    }
    
    .header{
        background-image: url(/assets/img/studentsbg.png);
        height: 65vh;
        position: fixed;
    
    }
    div.header{
        background-color: #c5192d;
    }
  }