
    /* Do shared configurations first, 
    then change depending on screen size. */

    @font-face {
        font-family: 'Lato';
        src: url('assets/fonts/lato-regular-webfont.woff2') format('woff2'),
             url('assets/fonts/lato-regular-webfont.woff') format('woff'),
             url('assets/fonts/lato-regular-webfont.ttf') format('truetype'),
             url('assets/fonts/lato-regular-webfont.svg#latoregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'MontserratBold';
        src: url('assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
             url('assets/fonts/montserrat-bold-webfont.woff') format('woff'),
             url('assets/fonts/montserrat-bold-webfont.ttf') format('truetype'),
             url('assets/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @counter-style repeating-emoji {
        system: cyclic;
        symbols: "\1F64C" "\1F3EB" "\1F4DA";
        suffix: " ";
        width: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }

    body {

        /* background-color: green; */

        background-image: linear-gradient(
            135deg, #f5f7fa 0%, #c3cfe2 100%);

        /* For testing... Seems to work.
        background-image: linear-gradient(
        135deg, red 0%, blue 100%); */

        /* WHERE IS LATO? :/ */
        /* Are we supposed to find and download it? */
        font-family: 'Lato', sans-serif;
        /* Downloaded it... Looks right? */

        font-size: 14px;
        
        margin: 0 auto;

/*         display: inline-block;
        text-align: center; */

    }

    /* The default font size for the contents of the page
    will be 1.2rem. */
    /* Is this it? ... */
    body > p{
        font-size: 1.2rem;
        /* The paragraph will never exceed 70ch wide
        and the distance the distance between lines of text will be set to 1.5. */
        max-width: 70ch;
        line-height: 1.5;
    }

    h1,h2 {
        font-family: "MontserratBold", sans-serif;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    header {
        /* background-color: green; */

        height: 55vh;
        background-image: url("assets/img/studentsbg.png");
        background-position: top;
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        /* margin: 0 auto; */

        /* width: 100%; */

        /* padding-bottom: 4rem; */

        text-align: center;

    }

    header > div{
        background-color: #c5192d;
        /* margin-top: 4rem; */

        /* display: none; */

        display: inline-block;
        
        margin-top: 4rem;
        color: white;

        /* Border? */
        box-shadow: 1px ;

    }

    header > div > *{
        text-align: center;

        padding-left: 4rem;
        padding-right: 4rem;
    }

    header > div > p{
        /* font-size: 16px; */
    }

    main {
        box-shadow: 0 0 1px darkgrey;
        background-color: whitesmoke;
    }

    #intro-container{
        text-align: left;
        background-color: #c5192d;

        font-weight: bold;

        padding: 2rem;
    }

    /* Works... */
    #intro-container > div > ul{
        list-style-type: repeating-emoji;
    }

    article > * {
        display: inline-block;

        /*  */
        box-shadow: 0 0 1px darkgrey;
    }

    /* Phones */ 
    @media only screen and (max-width : 600px) {

    }

    /* Tablets */
    @media only screen and (min-width : 600px) 
    and (max-width: 960px) {
        body{
            font-size: 16px;
        }

        header{
            height: 65vh;
        }

        /* 
        The 3 main boxes (“Education for all”, main and footer)
        will now take only 85 percent of the viewport width
        (check mock-up).
        */
        header > div{
            width: 85vw;
        }

        main, footer{
            width: 85vw;
        }

        article{
            column-count: 2;
            column-width: 45%;
            column-gap: 10%;
        }

        #intro-container{

            background: linear-gradient(to right, #c5192d 0%, #c5192d 50%, whitesmoke 50%, whitesmoke 100%);

/*             background-image: linear-gradient(
                180deg, #f5f7fa 100%, #c3cfe2 100%); */

        }

    }

    /* Desktop */
    @media only screen and (min-width : 960px) {

        body{
            font-size: 24px;
        }
        header{
            height: 65vh;
        }

        /* 
        The 3 main boxes (“Education for all”, main and footer)
        will now take only 85 percent of the viewport width
        (check mock-up).
        */
        header > div{
            width: 70vw;
        }

        main, footer{
            width: 70vw;
        }

        article{
            column-count: 2;
            column-width: 45%;
            column-gap: 10%;
        }

        #intro-container{

            background: linear-gradient(to right, #c5192d 0%, #c5192d 50%, whitesmoke 50%, whitesmoke 100%);

/*             background-image: linear-gradient(
                180deg, #f5f7fa 100%, #c3cfe2 100%); */

        }
    
    }